Umbrella/Umbrella/Service References/ServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/UmbrellaService.DataLevel.ProxyModel" />
  <xs:element name="SignIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UmbrellaService.DataLevel.ProxyModel" minOccurs="0" name="SignInResult" nillable="true" type="q1:AccountProxy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignUp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fullName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="age" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignUpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/UmbrellaService.DataLevel.ProxyModel" minOccurs="0" name="SignUpResult" nillable="true" type="q2:AccountProxy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogOutResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/UmbrellaService.DataLevel.ProxyModel" minOccurs="0" name="project" nillable="true" type="q3:ProjectProxy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/UmbrellaService.DataLevel.ProxyModel" minOccurs="0" name="CreateProjectResult" nillable="true" type="q4:ProjectProxy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProjectById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" type="xs:int" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProjectByIdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" type="xs:int" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/UmbrellaService.DataLevel.ProxyModel" minOccurs="0" name="project" nillable="true" type="q5:ProjectProxy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProjectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeProjectStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" type="xs:int" />
        <xs:element minOccurs="0" name="projectId" type="xs:int" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/UmbrellaService.DataLevel.ProxyModel" minOccurs="0" name="status" nillable="true" type="q6:ProjectStatusProxy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeProjectStatusResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddParticipant">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" type="xs:int" />
        <xs:element minOccurs="0" name="participantId" type="xs:int" />
        <xs:element minOccurs="0" name="projectId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddParticipantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddParticipantResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteParticipant">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" type="xs:int" />
        <xs:element minOccurs="0" name="participantId" type="xs:int" />
        <xs:element minOccurs="0" name="projectId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteParticipantResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/UmbrellaService.DataLevel.ProxyModel" minOccurs="0" name="GetProjectByIdResult" nillable="true" type="q7:ProjectProxy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectsByOwnerId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ownerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectsByOwnerIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/UmbrellaService.DataLevel.ProxyModel" minOccurs="0" name="GetProjectsByOwnerIdResult" nillable="true" type="q8:ArrayOfProjectProxy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectsByStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/UmbrellaService.DataLevel.ProxyModel" minOccurs="0" name="status" nillable="true" type="q9:ProjectStatusProxy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectsByStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/UmbrellaService.DataLevel.ProxyModel" minOccurs="0" name="GetProjectsByStatusResult" nillable="true" type="q10:ArrayOfProjectProxy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectsInWhichParticipatesId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectsInWhichParticipatesIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/UmbrellaService.DataLevel.ProxyModel" minOccurs="0" name="GetProjectsInWhichParticipatesIdResult" nillable="true" type="q11:ArrayOfProjectProxy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" type="xs:int" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/UmbrellaService.DataLevel.ProxyModel" minOccurs="0" name="task" nillable="true" type="q12:TaskProxy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/UmbrellaService.DataLevel.ProxyModel" minOccurs="0" name="CreateTaskResult" nillable="true" type="q13:TaskProxy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" type="xs:int" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/UmbrellaService.DataLevel.ProxyModel" minOccurs="0" name="task" nillable="true" type="q14:TaskProxy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTaskResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeTaskStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" type="xs:int" />
        <xs:element minOccurs="0" name="taskId" type="xs:int" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/UmbrellaService.DataLevel.ProxyModel" minOccurs="0" name="status" nillable="true" type="q15:TaskStatusProxy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeTaskStatusResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTaskById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" type="xs:int" />
        <xs:element minOccurs="0" name="taskId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTaskByIdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTasksByProjectId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTasksByProjectIdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/UmbrellaService.DataLevel.ProxyModel" minOccurs="0" name="GetTaskByIdResult" nillable="true" type="q16:TaskProxy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTasksByProjectId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTasksByProjectIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/UmbrellaService.DataLevel.ProxyModel" minOccurs="0" name="GetTasksByProjectIdResult" nillable="true" type="q17:ArrayOfTaskProxy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTasksByStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/UmbrellaService.DataLevel.ProxyModel" minOccurs="0" name="status" nillable="true" type="q18:TaskStatusProxy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTasksByStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/UmbrellaService.DataLevel.ProxyModel" minOccurs="0" name="GetTasksByStatusResult" nillable="true" type="q19:ArrayOfTaskProxy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddExecutor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" type="xs:int" />
        <xs:element minOccurs="0" name="executorId" type="xs:int" />
        <xs:element minOccurs="0" name="taskId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddExecutorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddExecutorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteExecutor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" type="xs:int" />
        <xs:element minOccurs="0" name="executorId" type="xs:int" />
        <xs:element minOccurs="0" name="taskId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteExecutorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTasksAvailableById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTasksAvailableByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/UmbrellaService.DataLevel.ProxyModel" minOccurs="0" name="GetTasksAvailableByIdResult" nillable="true" type="q20:ArrayOfTaskProxy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateComment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" type="xs:int" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/UmbrellaService.DataLevel.ProxyModel" minOccurs="0" name="comment" nillable="true" type="q21:CommentProxy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCommentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/UmbrellaService.DataLevel.ProxyModel" minOccurs="0" name="CreateCommentResult" nillable="true" type="q22:CommentProxy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCommentById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="accountId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCommentByIdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCommentsByTaskId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCommentsByTaskIdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommentsByTaskId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommentsByTaskIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/UmbrellaService.DataLevel.ProxyModel" minOccurs="0" name="GetCommentsByTaskIdResult" nillable="true" type="q23:ArrayOfCommentProxy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/UmbrellaService.DataLevel.ProxyModel" minOccurs="0" name="GetAccountByIdResult" nillable="true" type="q24:AccountProxy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAccounts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAccountsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/UmbrellaService.DataLevel.ProxyModel" minOccurs="0" name="GetAllAccountsResult" nillable="true" type="q25:ArrayOfAccountProxy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountListByProjectId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountListByProjectIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/UmbrellaService.DataLevel.ProxyModel" minOccurs="0" name="GetAccountListByProjectIdResult" nillable="true" type="q26:ArrayOfAccountProxy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountListByTaskId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountListByTaskIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/UmbrellaService.DataLevel.ProxyModel" minOccurs="0" name="GetAccountListByTaskIdResult" nillable="true" type="q27:ArrayOfAccountProxy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/UmbrellaService.DataLevel.ProxyModel" minOccurs="0" name="account" nillable="true" type="q28:AccountProxy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccountResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProjectStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" type="xs:int" />
        <xs:element minOccurs="0" name="projectId" type="xs:int" />
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/UmbrellaService.DataLevel.ProxyModel" minOccurs="0" name="status" nillable="true" type="q29:ProjectStatusProxy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProjectStatusResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTaskStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" type="xs:int" />
        <xs:element minOccurs="0" name="taskId" type="xs:int" />
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/UmbrellaService.DataLevel.ProxyModel" minOccurs="0" name="status" nillable="true" type="q30:TaskStatusProxy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTaskStatusResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProjectStatusById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" type="xs:int" />
        <xs:element minOccurs="0" name="statusId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProjectStatusByIdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTaskStatusById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" type="xs:int" />
        <xs:element minOccurs="0" name="statusId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTaskStatusByIdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProjectStatusByProjectId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProjectStatusByProjectIdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTaskStatusByProjectId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTaskStatusByProjectIdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectStatusListByProjectId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectStatusListByProjectIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/UmbrellaService.DataLevel.ProxyModel" minOccurs="0" name="GetProjectStatusListByProjectIdResult" nillable="true" type="q31:ArrayOfProjectStatusProxy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskStatusListByProjectId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskStatusListByProjectIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/UmbrellaService.DataLevel.ProxyModel" minOccurs="0" name="GetTaskStatusListByProjectIdResult" nillable="true" type="q32:ArrayOfTaskStatusProxy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/UmbrellaService.DataLevel.ProxyModel" minOccurs="0" name="history" nillable="true" type="q33:HistoryProxy" />
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/UmbrellaService.DataLevel.ProxyModel" minOccurs="0" name="readers" nillable="true" type="q34:ArrayOfAccountProxy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHistoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteHistoryById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteHistoryByIdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistoryById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistoryByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/UmbrellaService.DataLevel.ProxyModel" minOccurs="0" name="GetHistoryByIdResult" nillable="true" type="q35:HistoryProxy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvalibleHistoryById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvalibleHistoryByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/UmbrellaService.DataLevel.ProxyModel" minOccurs="0" name="GetAvalibleHistoryByIdResult" nillable="true" type="q36:ArrayOfHistoryProxy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>